<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Webcam (obligatoire sur macOS 10.14+) -->
    <key>com.apple.security.device.camera</key>
    <true/>
    <!-- Désactive le sandbox pour pouvoir accéder aux fichiers locaux -->
    <key>com.apple.security.app-sandbox</key>
    <false/>
</dict>
</plist>
